<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="login.css" />
    <script src="login.js" defer></script>
  </head>

  <body>
    <div class="login-container">
      <form class="login-form" id="login-form">
        <input type="email" id="email" class="input-field" placeholder="Correo Electrónico" />
        <input type="password" id="password" class="input-field" placeholder="Contraseña" />
        <button class="submit-button">Iniciar Sesión</button>
      </form>
    </div>
  </body>
</html>
